<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryeex.sdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- ble -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--定位权限，获取经纬度-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />


    <application
        android:name="com.ryeex.sdkband.App"
        android:allowBackup="true"
        android:icon="@mipmap/idt"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/idt"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ryeex.sdkband.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ryeex.sdkband.ScanActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.ryeex.sdkband.DeviceBindActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.ryeex.sdkband.WatchBindActivity"
            android:launchMode="singleTop" />
        />
        <activity
            android:name="com.ryeex.sdkband.BrandyPbDeviceActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.ryeex.sdkband.BrandyJsonDeviceActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.ryeex.sdkband.SaturnJsonDevicesActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.ryeex.sdkband.SaturnPbDevicesActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.ryeex.sdkband.WyzeJsonDevicesActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.ryeex.sdkband.WyzePbDevicesActivity"
            android:launchMode="singleTask" />

        <service android:name="com.ryeex.sdkband.CoreService" />

        <service android:name="com.ryeex.sdkband.WatchCoreService" />

    </application>

</manifest>